{layout '../@layoutEmpty.latte'}

{block content}
<div class="form-signin">
  <h1 n:block=title class="mb-3 text-center">Přihlášení</h1>

  {control signInForm}

  <p>Nemáte účet? <a n:href="Enroll:Step1">Zaregistrujte se</a>.</p>
</div>