{layout '../@layoutAdmin.latte'}

{block content}
<div class="col-12">
	<nav class="navbar navbar-light bg-light mx-0 mb-1">
		<h1>{_'device_list_h1'} <small>[user_id = {$user->id}]</small></h1>
		<a n:href="Device:create" class="btn btn-outline-success" type="button">{_'device_list_new'}</a>
	</nav>
</div>

{* --- Zoznam zariadení --- *}
{embed	'..\main_devices_list_embed.latte', 
				devices: $devices,
				edit: true
}{/embed}
